/build
*.DS_Store
*.beve
*.cache
*.vscode
*.json

# Allow .beve and .json files in examples
!examples/*.json
!examples/*.beve

# Allow package.json in javascript
!javascript/package.json

# JavaScript
javascript/node_modules/

# Added by cargo

/target
# RUST
rust/target
rust/Cargo.lock